.elementor-3 .elementor-element.elementor-element-438d8457 {
  --display: flex;
  --padding-top: 50px;
  --padding-bottom: 40px;
  --padding-left: 40px;
  --padding-right: 40px;
}
.elementor-3 .elementor-element.elementor-element-4f018449 {
  font-family: "Open Sans", Sans-serif;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
